@import url('https://fonts.googleapis.com/css?family=Satisfy');
html, body {font-family: 'Satisfy', cursive; height: 100%; width: 100%; overflow:hidden;  margin:0px;
  padding:0px;background-color:#333;}
#fondo {
  height:500px;
  width:500px;
  background-image: url('https://i.pinimg.com/originals/a3/36/c3/a336c3a85450433c938dd07eeed04b09.jpg');
  background-repeat: repeat;
  background-size:cover;
  border-radius:100%;
  margin:auto;
  box-shadow: 0 0 100px black;
  -webkit-animation: spin 30s infinite linear;
}
#container {
  display: table;
  height: 100%;
  width: 100%;
  margin: 0;
}
#content {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
#text{
  height:100px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color:#dfdfdf;
  text-align: center;
  text-shadow: 0 0 0.2em white;
  font-size:5em;
  z-index:3;
}
#foter{
  background-color:#282828;
  padding:10px;
  position:absolute;
  text-align:left;
  font-size:15px;
  bottom: 0px;
  width:100%;
}
a{
  color:silver;
  text-decoration: none;
}
a:hover{
  color:white;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
